.active-status {
  color: #4caf50;
  //   font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(76, 175, 80, 0.1);
}

.inactive-status {
  color: #f44336;
  //   font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(244, 67, 54, 0.1);
}
