<div class="flex flex-col gap-5 mt-5">
  <!-- Header remains the same -->
  <div
    *appHasRole="['Employee']"
    class="bg-white rounded-lg shadow mb-4 p-4 flex justify-between items-center"
  >
    @if (currentAttendance?.checkIn) {
    <div class="text-gray-600" dir="ltr">
      {{ currentAttendance?.checkIn | date : "dd-MM-yyyy - hh:mm a" }} :تاريخ
      اليوم
    </div>
    } @if (!currentAttendance?.checkIn) {
    <button
      (click)="checkIn()"
      class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded"
    >
      تسجيل الحضور
    </button>

    }@else {
    <button
      (click)="checkOut(currentAttendance?.id)"
      class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded"
    >
      تسجيل الانصراف
    </button>
    }
  </div>

  <!-- Stats Grid -->
  <div class="grid grid-cols-4 gap-4 mb-4" *appHasRole="['Employee', 'Admin']">
    <!-- Total Tasks -->
    <div
      *appHasRole="['Admin']"
      class="bg-primary rounded-lg shadow p-8 flex justify-between items-center"
    >
      <div class="text-white">
        <div class="text-2xl font-bold">
          {{ currentStat?.numberOfEmployees }}
        </div>
        <div class="text-sm">عدد الموظفين</div>
      </div>
      <i class="fas fa-dollar-sign text-white text-3xl"></i>
    </div>
    <div
      *appHasRole="['Employee']"
      class="bg-primary rounded-lg shadow p-8 flex justify-between items-center"
    >
      <div class="text-white">
        <div class="text-2xl font-bold">
          {{ totalTask }}
        </div>
        <div class="text-sm">إجمالي المهام</div>
      </div>
      <i class="fas fa-dollar-sign text-white text-3xl"></i>
    </div>

    <!-- Completed Tasks -->
    <div
      class="bg-primary rounded-lg shadow p-8 flex justify-between items-center"
    >
      <div class="text-white">
        <div class="text-2xl font-bold">
          {{ currentStat?.completedTasks }}
        </div>
        <div class="text-sm">مهام مكتملة</div>
      </div>
      <i class="fas fa-bell text-white text-3xl"></i>
    </div>

    <!-- Active Tasks -->
    <div
      class="bg-primary rounded-lg shadow p-8 flex justify-between items-center"
    >
      <div class="text-white">
        <div class="text-2xl font-bold">
          {{ currentStat?.continuedTasks }}
        </div>
        <div class="text-sm">مهام فعالة</div>
      </div>
      <i class="fas fa-th-large text-white text-3xl"></i>
    </div>

    <!-- New Tasks -->
    <div
      class="bg-primary rounded-lg shadow p-8 flex justify-between items-center"
    >
      <div class="text-white">
        <div class="text-2xl font-bold">
          {{ currentStat?.newTasks }}
        </div>
        <div class="text-sm">مهام جديدة</div>
      </div>
      <i class="fas fa-comments text-white text-3xl"></i>
    </div>
  </div>

  <!-- Last Design Section -->
  <div
    class="bg-white rounded-lg drop-shadow-lg p-4"
    *appHasRole="['Employee', 'Admin']"
  >
    <div class="flex items-center justify-between mb-4">
      <div class="flex items-center">
        <!-- <i class="fas fa-image text-gray-600 mr-2 text-xl"></i> -->
        <h2 class="text-lg font-semibold text-gray-800">
          {{ currentNoti?.title }}
        </h2>
        @if (currentNoti?.likes==0 && !isLiked) {
        <i
          class="fa-regular fa-thumbs-up text-2xl mx-2 cursor-pointer"
          (click)="react()"
        ></i>
        }@else {
        <i class="fa-solid fa-thumbs-up text-2xl mx-2 cursor-pointer"></i>
        }
      </div>
      <div class="text-gray-600 text-sm">
        {{ currentNoti?.createdOn | date : "dd-MM-yyyy - hh:mm a" }}
      </div>
    </div>
    <p class="text-gray-600 text-right">
      {{ currentNoti?.message }}
    </p>
  </div>

  <div class="grid grid-cols-5 gap-4">
    <div class="col-span-3">
      <app-tasks-classification></app-tasks-classification>
    </div>
    <div class="col-span-2 col-start-4"><app-all-tasks></app-all-tasks></div>
  </div>
</div>
