<div>
  <section
    class="overflow-hidden py-14 relative mx-auto my-0 w-full bg-blue-950 max-md:px-5 max-md:py-10 max-sm:p-5"
  >
    <div class="flex lg:px-40 py-14">
      <div class="px-10">
        <h2
          class="mb-6 text-3xl font-bold tracking-wider text-white uppercase leading-[49.2px] max-sm:text-2xl"
        >
          {{ "home.services.title" | translate }}
        </h2>

        <ul class="flex flex-col gap-5 py-6">
          <li class="flex gap-2.5 items-start">
            <img src="images/ring.svg" />
            <p
              class="text-3xl tracking-wide text-start text-white uppercase leading-[50.96px] max-w-[565px] max-sm:text-xl"
            >
              {{ "home.services.list1" | translate }}
            </p>
          </li>

          <li class="flex gap-2.5 items-start">
            <img src="images/ring.svg" />
            <p
              class="text-3xl tracking-wide text-start text-white uppercase leading-[50.96px] max-w-[565px] max-sm:text-xl"
            >
              {{ "home.services.list2" | translate }}
            </p>
          </li>

          <li class="flex gap-2.5 items-start">
            <img src="images/ring.svg" />
            <p
              class="text-3xl tracking-wide text-start text-white uppercase leading-[50.96px] max-w-[565px] max-sm:text-xl"
            >
              {{ "home.services.list3" | translate }}
            </p>
          </li>

          <li class="flex gap-2.5 items-start">
            <img src="images/ring.svg" />
            <p
              class="text-3xl tracking-wide text-start text-white uppercase leading-[50.96px] max-w-[565px] max-sm:text-xl"
            >
              {{ "home.services.list1" | translate }}
            </p>
          </li>

          <li class="flex gap-2.5 items-start">
            <img src="images/ring.svg" />
            <p
              class="text-3xl tracking-wide text-start text-white uppercase leading-[50.96px] max-w-[565px] max-sm:text-xl"
            >
              {{ "home.services.list5" | translate }}
            </p>
          </li>
        </ul>
      </div>
    </div>

    <img
      src="images/cloud-up.png"
      alt=""
      class="absolute top-0 left-0 w-full h-24 max-sm:h-12 object-cover"
    />

    <img
      src="images/cloud-down.png"
      alt=""
      class="absolute left-0 w-full bottom-0 object-cover h-24 max-sm:h-12"
    />
  </section>
</div>
