<div
  class="h-screen overflow-y-auto no-scrollbar w-64 rounded-3xl bg-primary text-white py-4 px-2 flex flex-col sticky top-0"
>
  <!-- Menu Items -->
  <div class="flex flex-col space-y-2">
    @for (item of menuItems; track item) { @if (item.visible) {
    <a
      [routerLink]="item.route"
      routerLinkActive="bg-white text-primary"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center gap-2 space-x-3 px-4 py-3 rounded-lg hover:bg-gray-800 hover:text-gray-200 transition-colors cursor-pointer"
    >
      <i [class]="item.icon" class="text-gray-400"></i>
      <span class="text-sm font-medium">{{ item.label }}</span> </a
    >} }
  </div>

  <!-- Settings Section at Bottom -->
  <div class="mt-5 border-t border-gray-700 pt-4">
    <!-- Expanted section -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <a
            [routerLink]=""
            routerLinkActive="bg-white text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            class="flex items-center gap-2 space-x-3 px-4 py-3 rounded-lg hover:bg-gray-800 hover:text-gray-200 transition-colors cursor-pointer"
          >
            <i [class]="settingsItems[0].icon" class="text-gray-400"></i>
            <span class="text-sm font-medium">{{ "الاعدادات" }}</span>
          </a>
        </mat-expansion-panel-header>
        @for (item of settingsItems; track item) { @if (item.visible) {
        <a
          [routerLink]="item.route"
          routerLinkActive="bg-white text-primary"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center gap-2 space-x-3 px-4 py-3 rounded-lg hover:bg-gray-800 hover:text-gray-200 transition-colors cursor-pointer"
        >
          <i [class]="item.icon" class="text-gray-400"></i>
          <span class="text-sm font-medium">{{ item.label }}</span>
        </a>
        }}
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
