<h2 mat-dialog-title>{{ data ? "تعديل" : "اضافه" }}</h2>
<mat-dialog-content class="mat-typography">
  <form
    id="myForm"
    [formGroup]="taskForm"
    (ngSubmit)="onSubmit()"
    class="font-arabic"
  >
    <div class="mb-3">
      <label for="name">الاسم</label>
      <input type="text" id="name" pInputText formControlName="name" />
      <app-form-error [control]="taskForm.get('name')"></app-form-error>
    </div>
    <div class="mb-3">
      <label for="email">البريد الالكتروني</label>
      <input type="text" id="email" pInputText formControlName="email" />
      <app-form-error [control]="taskForm.get('email')"></app-form-error>
    </div>
    <div class="mb-3">
      <label for="password">كلمه المرور</label>
      <input type="text" id="password" pInputText formControlName="password" />
      <app-form-error [control]="taskForm.get('password')"></app-form-error>
    </div>
    <div class="mb-3">
      <label for="file"> الملف</label>
      <app-file-upload-handler
        [isFile]="true"
        [imagePreview]="imagePreview"
        (fileSelected)="handleFileSelected($event)"
        (cancelClicked)="handleCancelClicked()"
        [idInput]="'file'"
      ></app-file-upload-handler>
      <!-- [isRequired]="isFileRequired" -->
      <input type="hidden" formControlName="file" />
    </div>

    <button type="submit" pButton label="إرسال" class="mt-3"></button>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="font-arabic">إلغاء</button>
  <button
    mat-button
    cdkFocusInitial
    type="submit"
    form="myForm"
    class="font-arabic"
  >
    <span *ngIf="!loading">{{ data ? "تعديل" : "اضافه" }}</span>
    <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
  </button>
</mat-dialog-actions>
