<div class="flex flex-row-reverse gap-4">
  <div class="shadow-lg p-4 rounded-lg flex flex-col flex-grow min-w-[250px]">
    <div class="h-1/2 flex flex-col gap-2 justify-center">
      <label for="tenantId">اسم الشركه</label>
      <p-dropdown
        id="tenantId"
        [options]="tenants"
        optionLabel="tenantName"
        optionValue="id"
        (onChange)="updateFilters($event)"
      ></p-dropdown>
    </div>
    <div
      class="bg-primary rounded-md gap-6 flex-grow h-1/2 text-white flex flex-col justify-center items-center"
    >
      <div class="text-2xl font-semibold">مجموع المهام</div>
      <div
        class="font-semibold w-10 h-10 rounded-full bg-red-300 flex flex-col justify-center items-center"
      >
        75
      </div>
    </div>
  </div>
  <div class="shadow-lg p-4 rounded-lg flex-grow">
    <canvas id="canvasTenants">{{ chart }}</canvas>
  </div>
  <div
    class="shadow-lg p-6 py-8 rounded-lg flex justify-center flex-col items-center gap-6 min-w-[250px]"
  >
    <!-- <h3>اجمالي المهام / المهام المكتمله</h3> -->
    <p-knob
      size="150"
      [disabled]="true"
      [(ngModel)]="completionPercent"
      [valueTemplate]="completionPercent + '%'"
    />
  </div>
</div>
