<footer class="bg-blue-950 relative">
  <img
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/7705cc400ad5932ec52ce6e8e1ea21a94a2cd06d"
    alt=""
    class="absolute top-0 left-0 w-full h-24 max-sm:h-12 object-cover"
  />
  <div
    class="flex pt-44 relative flex-wrap justify-between px-28 py-12 w-full max-md:gap-10 max-md:p-10 max-sm:p-5"
  >
    <section
      class="overflow-hidden rounded-xl h-[213px] w-[375px] max-md:w-full"
    >
      <img
        src="https://placehold.co/375x213/222751/222751"
        alt="Map"
        class="object-cover size-full"
      />
    </section>

    <section class="max-md:w-full">
      <h2 class="mb-4 text-base font-medium text-white">للتواصل معانا</h2>
      <div class="flex gap-3.5 mb-5">
        <div class="w-5 bg-amber-600 h-[7px]"></div>
        <div class="w-5 bg-amber-600 h-[7px]"></div>
      </div>
      <div class="flex flex-col gap-5">
        <div class="flex gap-2.5 items-center text-base text-white">
          <i class="ti ti-map-pin text-xl text-amber-600"></i>
          <span>الرياض-السعودية</span>
        </div>
        <div class="flex gap-2.5 items-center text-base text-white">
          <i class="ti ti-mail text-xl text-amber-600"></i>
          <span>Elaraby<span>&#64;</span>Gmail.Com</span>
        </div>
        <div class="flex gap-2.5 items-center text-base text-white">
          <i class="ti ti-phone text-xl text-amber-600"></i>
          <span>91+585-656-658</span>
        </div>
      </div>
    </section>

    <nav class="max-md:w-full">
      <h2 class="mb-4 text-base font-medium text-white">روابط</h2>
      <div class="flex gap-3.5 mb-5">
        <div class="w-5 bg-amber-600 h-[7px]"></div>
        <div class="w-5 bg-amber-600 h-[7px]"></div>
      </div>
      <ul class="flex flex-col gap-5">
        <li class="flex gap-2.5 items-center text-base text-white">
          <i class="ti ti-chevron-left text-xl text-amber-600"></i>
          <a href="#" class="hover:text-amber-600 transition-colors"
            >الرئيسية</a
          >
        </li>
        <li class="flex gap-2.5 items-center text-base text-white">
          <i class="ti ti-chevron-left text-xl text-amber-600"></i>
          <a href="#" class="hover:text-amber-600 transition-colors">الاسعار</a>
        </li>
        <li class="flex gap-2.5 items-center text-base text-white">
          <i class="ti ti-chevron-left text-xl text-amber-600"></i>
          <a href="#" class="hover:text-amber-600 transition-colors">الخدمات</a>
        </li>
        <li class="flex gap-2.5 items-center text-base text-white">
          <i class="ti ti-chevron-left text-xl text-amber-600"></i>
          <a href="#" class="hover:text-amber-600 transition-colors">البرامج</a>
        </li>
      </ul>
    </nav>

    <section class="max-md:w-full max-md:-order-1">
      <img
        src="https://placehold.co/153x38/ffffff/ffffff"
        alt="Logo"
        class="mb-6"
      />
      <p
        class="mb-5 text-base leading-8 text-right text-white max-w-[306px] max-sm:text-sm max-sm:leading-6"
      >
        هذا النص هو نص غير حقيق يشغل مساحة مؤقتة هذا النص هو نص غير حقيق يشغل
        مساحة مؤقتة هذا النص هو نص غير حقيق
      </p>
      <div class="flex gap-5 max-sm:justify-center">
        <a
          href="#"
          class="flex justify-center items-center bg-white rounded-full h-[35px] w-[35px] hover:bg-amber-600 transition-colors"
        >
          <i class="ti ti-brand-facebook text-xl text-blue-950"></i>
        </a>
        <a
          href="#"
          class="flex justify-center items-center bg-white rounded-full h-[35px] w-[35px] hover:bg-amber-600 transition-colors"
        >
          <i class="ti ti-brand-twitter text-xl text-blue-950"></i>
        </a>
        <a
          href="#"
          class="flex justify-center items-center bg-white rounded-full h-[35px] w-[35px] hover:bg-amber-600 transition-colors"
        >
          <i class="ti ti-brand-instagram text-xl text-blue-950"></i>
        </a>
        <a
          href="#"
          class="flex justify-center items-center bg-white rounded-full h-[35px] w-[35px] hover:bg-amber-600 transition-colors"
        >
          <i class="ti ti-brand-youtube text-xl text-blue-950"></i>
        </a>
      </div>
    </section>
  </div>

  <div
    class="pt-10 w-full text-xl text-center text-white text-opacity-80 max-sm:text-base"
  >
    <span>&#64;</span>جميع الحقوق محفوظة ل شركة
  </div>
</footer>
