@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-button {
    @apply bg-white text-primary py-2 px-6 rounded-full shadow hover:text-blue-950;
  }
  .btn-outline {
    @apply bg-transparent hover:bg-primary text-primary font-semibold hover:text-white py-2 px-4 border border-primary hover:border-transparent rounded-full px-6;
  }
  .custom-input {
    @apply w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-3 transition duration-300 focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Noto+Kufi+Arabic:wght@100..900&display=swap");

[dir="rtl"] {
  text-align: right;
}

body,
.mdc-dialog__title,
.mat-mdc-button,
.mdc-button__label {
  font-family: "Almarai", serif !important;
}

.my-table {
  th {
    font-weight: 800;
    color: #80b5c7;
  }
  tr {
    font-family: "Almarai", serif;
  }
}
